/* Dropbutton container */
.dropbtn-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(50,50,50);
  color: white;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  z-index: 1;
  opacity: 0.25;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(50,50,50);
  min-width: 160px;
  z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(100,100,100);}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {opacity: 1;}

/* Naptár vezérlő stílusok */
.calendar-control-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.calendar-control-btn:link, .calendar-control-btn:visited {
  margin: 5px;
  padding: 6px 8px;
  background-color: rgb(50,50,50);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  opacity: 0.25;
}

.calendar-control-btn:hover {
  opacity: 1;
}

/* Új elem hozzáadása a listához gomb */
.itemcreate-button:link, .itemcreate-button:visited {
  margin: 0px;
  padding: 5px;
  width: 20%;
  background-color: rgb(255,0,0);
  color: white;
  border: 1px solid rgb(255,0,0);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: block;
}

.itemcreate-button:hover {
  background-color: rgb(255, 100, 100);
  border: 1px solid black;
}

/* Ablak bezáró gomb stílusa */
a.cancel-button:link, a.cancel-button:visited {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: rgb(0, 0, 250);
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

a.cancel-button:hover {
  color: black;
}

/* Input elemek stílusai */
label {
  font-weight: bold;
}

input[type=text], input[type=date], select {
  width: 100%;
  padding: 6px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 6px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(0,200,0);
  color: white;
  padding: 6px 16px;
  margin: 8px 0;
  border: 1px solid rgb(0,200,0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
  
input[type=submit]:hover {
  background-color: rgb(100, 200, 100);
  border: 1px solid black;
}