/* Naptár vezérlő stílusok */
.menu-control-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.calendar-control-btn:link, .calendar-control-btn:visited {
  margin: 5px;
  padding: 6px 8px;
  background-color: rgb(50,50,50);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  opacity: 0.25;
}

.calendar-control-btn:hover {
  opacity: 1;
}

/* Új elem hozzáadása a listához gomb */
.itemcreate-button:link, .itemcreate-button:visited {
  margin: 0px;
  padding: 5px;
  width: 20%;
  background-color: rgb(255,0,0);
  color: white;
  border: 1px solid rgb(255,0,0);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: block;
}

.itemcreate-button:hover {
  background-color: rgb(255, 100, 100);
  border: 1px solid black;
}

/* Ablak bezáró gomb stílusa */
a.cancel-button:link, a.cancel-button:visited {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: rgb(0, 0, 250);
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

a.cancel-button:hover {
  color: black;
}

/* Input elemek stílusai */
label {
  font-weight: bold;
}

input[type=text], input[type=date], select {
  width: 100%;
  padding: 6px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 6px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(0,200,0);
  color: white;
  padding: 6px 16px;
  margin: 8px 0;
  border: 1px solid rgb(0,200,0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
  
input[type=submit]:hover {
  background-color: rgb(100, 200, 100);
  border: 1px solid black;
}