.popup-button {
    background-color: rgb(50,50,50);
    color: white;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.popup-button:hover {
    opacity: 1;
}

.popup-container {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
}

.popup-container:target {
    visibility: visible;
    opacity: 1;
}

/* Új létrehozása gomb stílusa */
.create-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    top: 5px;
    right: 5px;
    background-color: rgb(50,50,50);
    color: white;
    opacity: 0.25;
    font-size: 28px;
    font-weight: bolder;
    z-index: 1;
}

.create-button:hover {
    opacity: 1;
}

/* Ablak bezáró gomb stílusa */
a.cancel-button:link, a.cancel-button:visited {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

a.cancel-button:hover {
    color: black;
}

/* Input elemek stílusai */
label {
    font-weight: bold;
}

input[type=text], input[type=date], select {
    width: 100%;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(0,150,0);
    color: white;
    padding: 6px 16px;
    margin: 8px 0;
    border: 5px solid rgb(0,150,0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }