body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    background-color: rgb(150,150,150);
}

/* Navigációs bár stílusai */
.dropbutton {
    background-color: rgb(50,50,50);
    color: white;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.dropbutton:hover, .dropbutton:focus {
    opacity: 1;
}
  
.dropdown {
    position: fixed;
    top: 5px;
    left: 5px;
    display: inline-block;
    z-index: 1;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(50,50,50);
    min-width: 160px;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(200,200,200);
    color: black;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* Munkák listához tartozó stílusok */
table.calendar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th.calendar {
    padding: 5px;
    margin: 0px;
    width: 14%;
    background-color: rgb(150,150,150);
    color: white;
    border: 2px solid black;
}

td.calendar {
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: rgb(150,150,150);
    border: 2px solid black;
    vertical-align: top;
}

div.job-container {
    padding: 0px;
    margin: 5px 5px;
    background-color: white;
    border-radius:  4px;
    border: none;
}

div.job-title {
    padding: 0px;
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
    background-color: blue;
    color: white;
}

a.jobtitle-menuitem:link, a.jobtitle-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 2px;
    margin: 0px;
    width: 95%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
}

a.jobtitle-menuitem:hover, a.jobtitle-menuitem:active {
    background-color: rgb(0, 130, 250);
}

table.jobtitle-table {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

td.jobtitle-cell {
    padding: 0px;
    margin: 0px;
    width: 50%;
}

div.job-body {
    padding: 3px;
    margin: 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: white;
    color: black;
    font-size: 12px;
    word-wrap: normal;
}

div.create-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    top: 5px;
    right: 5px;
    background-color: rgb(50,50,50);
    color: white;
    opacity: 0.25;
    font-size: 28px;
    font-weight: bolder;
    z-index: 1;
}

div.create-button:hover {
    opacity: 1;
}

/* A szerkesztés, törlés és létrehozás lapok stílusai */
div.body-container {
    padding: 0px;
    margin: 15px 25%;
    background-color: white;
    border-radius:  6px;
    border: none;
    box-shadow: 5px 10px 8px rgb(75,75,75);
    position: relative;
}

div.body-title {
    padding: 10px;
    margin: 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

div.body-body {
    padding: 10px;
    margin: 0px;
    border-radius: 0px 0px 6px 6px;
    background-color: white;
    color: black;
    font-size: 12px;
    word-wrap: normal;
}

a.cancel-button:link, a.cancel-button:visited {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

a.cancel-button:hover {
    color: black;
}

/* Input elemek stílusai */
label {
    font-weight: bold;
}

input[type=text], input[type=date], select {
    width: 100%;
    padding: 6px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(0,150,0);
    color: white;
    padding: 6px 16px;
    margin: 8px 0;
    border: 5px solid rgb(0,150,0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }