body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    background-color: gray;
}

/* Navigációs bár stílusai */
div.navbar-container {
    padding: 0px;
    margin: auto;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    background-color: rgb(0, 0, 250);
    align-content: space-evenly;
    display: flex;
}

a.navbar-menuitem:link, a.navbar-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 5px 15px;
    margin: 0px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
}

a.navbar-menuitem:hover, a.navbar-menuitem:active {
    background-color: rgb(0, 130, 250);
}

/* Munkák listához tartozó stílusok */
table.calendar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th.calendar {
    padding: 5px;
    margin: 0px;
    width: 14%;
    background-color: gray;
    color: white;
    border: 2px solid black;
}

td.calendar {
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: gray;
    border: 2px solid black;
    vertical-align: top;
}

div.job-container {
    padding: 0px;
    margin: 5px 5px;
    background-color: white;
    border-radius:  4px;
    border: none;
}

div.job-title {
    padding: 0px;
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
    background-color: blue;
    color: white;
}

a.jobtitle-menuitem:link, a.jobtitle-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 3px 5px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
}

a.jobtitle-menuitem:hover, a.jobtitle-menuitem:active {
    background-color: rgb(0, 130, 250);
}

div.job-body {
    padding: 3px;
    margin: 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: white;
    color: black;
    font-size: 12px;
    word-wrap: normal;
}