body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    background-color: rgb(150,150,150);
}

/* Navigációs bár stílusai */
div.navbar-container {
    padding: 0px;
    margin: auto;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    background-color: rgb(0, 0, 250);
    align-content: space-evenly;
    display: flex;
}

a.navbar-menuitem:link, a.navbar-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 5px 15px;
    margin: 0px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
}

a.navbar-menuitem:hover, a.navbar-menuitem:active {
    background-color: rgb(0, 130, 250);
}

/* Munkák listához tartozó stílusok */
table.calendar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th.calendar {
    padding: 5px;
    margin: 0px;
    width: 14%;
    background-color: rgb(150,150,150);
    color: white;
    border: 2px solid black;
}

td.calendar {
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: rgb(150,150,150);
    border: 2px solid black;
    vertical-align: top;
}

div.job-container {
    padding: 0px;
    margin: 5px 5px;
    background-color: white;
    border-radius:  4px;
    border: none;
}

div.job-title {
    padding: 0px;
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
    background-color: blue;
    color: white;
}

a.jobtitle-menuitem:link, a.jobtitle-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
}

a.jobtitle-menuitem:hover, a.jobtitle-menuitem:active {
    background-color: rgb(0, 130, 250);
}

table.jobtitle-table {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

td.jobtitle-cell {
    padding: 0px;
    margin: 0px;
    width: 50%;
}

div.job-body {
    padding: 3px;
    margin: 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: white;
    color: black;
    font-size: 12px;
    word-wrap: normal;
}

div.create-button {
    position: fixed;
    width: auto;
    padding: 0px 5px;
    border-radius: 6px;
    top: 5px;
    right: 5px;
    background-color: black;
    color: white;
    opacity: 0.25;
    font-size: 28px;
    font-weight: bolder;
    z-index: 1;
}

div.create-button:hover {
    opacity: 1;
}

/* A szerkesztés, törlés és létrehozás lapok stílusai */
div.body-container {
    padding: 0px;
    margin: 15px 20%;
    background-color: white;
    border-radius:  6px;
    border: none;
    box-shadow: 5px 10px 8px rgb(75,75,75);
}

div.body-title {
    padding: 10px;
    margin: 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

div.body-body {
    padding: 10px;
    margin: 0px;
    border-radius: 0px 0px 6px 6px;
    background-color: white;
    color: black;
    font-size: 12px;
    word-wrap: normal;
}

/* Input elemek stílusai */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(0,150,0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 5px solid rgb(0,150,0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: rgb(0,150,0);
  }

  a.cancel-button:link, a.cancel-button:visited {
    background-color: rgb(150,0,0);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: 5px solid rgb(150,0,0);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
}

a.cancel-button:hover, a.cancel-button:active {
    background-color: white;
    color: rgb(150,0,0);
}

div.cancel-button {
    padding: 0px;
    margin: 0px;
    width: 100%;
}