body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: gray;
}

/* Navigációs bár stílusai */
div.navbar-container {
    padding: 0px;
    margin: auto;
    width: 100%;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    background-color: rgb(0, 0, 250);
    align-content: space-evenly;
    display: flex;
}

a.navbar-menuitem:link, a.navbar-menuitem:visited {
    background-color: rgb(0, 0, 250);
    color: white;
    padding: 10px 15px;
    margin: 0px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
}

a.navbar-menuitem:hover, a.navbar-menuitem:active {
    background-color: rgb(0, 130, 250);
}

/* Tartalom stílusok */
table.calendar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td.calendar {
    padding: 5px;
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: gray;
    border: 2px solid black;
}