.calendar-container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.calendar-header {
    padding: 5px;
    margin: 0px;
    width: 14%;
    background-color: rgb(50,50,50);
    color: white;
    border: 1px solid black;
}

.calendar-cell {
    margin: 0px;
    width: 14%;
    height: 500px;
    background-color: rgb(150,150,150);
    border: 1px solid black;
    vertical-align: top;
}

.listview-table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: 2px solid black;
}

.listview-rowheader {
    padding: 3px;
    margin: 0px;
    color: white;
    background-color: grey;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.listview-row {
    background-color: white;
}

.listview-row:hover {
    background-color: lightgoldenrodyellow;
}

.listview-cell {
    padding: 3px;
    margin: 0px;
    text-align: center;
    border: 1px solid black;
}